	<head>
	<style type="text/css">
	div{background-color:#fff00;
	color:#777;
		h1,h2,h3{
			color:brue;
			font-size:12;
		}
	}
	</style>
	</head>
	<body>
	<h3>meow</h3>
	</body>
	<div>
	<h1>meeeeeeeow</h1>
	</div>